<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<appSettings>
		<add key="ApplicationBaseURI" value="https://api.trello.com/1" />
		<add key="key" value="c7bd875d5f1fc702cf5c58cfcc435e68" />
		<add key="token" value="3788db4d958244c0ec2feaeda716ba79046f1bb9861072285311c439b87fe909" />
	</appSettings>-->
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="console" />
			<appender-ref ref="file" />
		</root>
		<appender name="console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="file" type="log4net.Appender.RollingFileAppender">
			<!--<file value="C:\Users\91935\source\repos\SpecFlowCoreRest\SpecFlowCoreRest\Log\main.log" />-->
			<file value="..\..\..\Log\main.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="25MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
</configuration>